body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 30px;
    width: 600px;
    text-align: center;
}

img {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -5;
    width: 100%;
    height: 100%;
}

main {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    width: 600px;
    text-align: center;
    background-color: #ffffff;
    z-index: 5;
    border-radius: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

h1 {
    color: #9e9e9e;
    font-size: 24px;
}


.todo-contents {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 20px;
    background-color: #f0d9ff;
    color: #7a7a7a;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}

.todo-name {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    padding-top: 15px;
    width: 92%;
    height: 50%;
    border-bottom-color: #848484;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}
.todo-status {
    text-align: left;
    margin-left: 20px;
    width: 92%;
    height: 50%;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    vertical-align: middle;
}
.status {
    padding-top: 20px;
}
button {
    margin: 20px;
    width: 80px;
}

.custom-btn {
    /* width: 25%; */
    /* height: 100%; */
    color: #4a4a4a;
    border-radius: 5px;
    /* padding: 10px 25px; */
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-clear {
    background: rgba(56, 255, 59, 0.778);
    /* background: radial-gradient(circle, rgba(207, 75, 255, 0.525) 0%, rgba(0, 221, 255, 0.634) 100%); */
    /* line-height: 42px; */
    padding: 0;
    border: none;
}
.btn-clear span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-clear:before,
.btn-clear:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-clear:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.btn-clear:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
.btn-clear:hover{
    background: transparent;
    color: #6c6c00;
    box-shadow: none;
}
.btn-clear:hover:before {
    transition: all 500ms ease;
    height: 100%;
}
.btn-clear:hover:after {
    transition: all 500ms ease;
    height: 100%;
}
.btn-clear span:before,
.btn-clear span:after {
    position: absolute;
    content: "";
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-clear span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-clear span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-clear span:hover:before {
    width: 100%;
}
.btn-clear span:hover:after {
    width: 100%;
}

.btn-delete {
    background: rgba(255, 56, 56, 0.429);
    /* background: radial-gradient(circle, rgba(207, 75, 255, 0.525) 0%, rgba(0, 221, 255, 0.634) 100%); */
    /* line-height: 42px; */
    padding: 0;
    border: none;
}
.btn-delete span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-delete:before,
.btn-delete:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-delete:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.btn-delete:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
.btn-delete:hover{
    background: transparent;
    color: #6c6c00;
    box-shadow: none;
}
.btn-delete:hover:before {
    transition: all 500ms ease;
    height: 100%;
}
.btn-delete:hover:after {
    transition: all 500ms ease;
    height: 100%;
}
.btn-delete span:before,
.btn-delete span:after {
    position: absolute;
    content: "";
    box-shadow:
    -1px -1px 20px 0px rgba(255,255,255,1),
    -4px -4px 5px 0px rgba(255,255,255,1),
    7px 7px 20px 0px rgba(0,0,0,.4),
    4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-delete span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-delete span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-delete span:hover:before {
    width: 100%;
}
.btn-delete span:hover:after {
    width: 100%;
}

/* ul {
    list-style-type: none;
}

li {
    padding: 8px 0;
} */
